In [187]:
import requests,json,time, sqlite3,os
from datetime import datetime
import pandas as pd

dir_app = os.getcwd()
print(dir_app)
start = datetime.now()

C:\Users\eb\notebooks

In [113]:
def time_proces(x):
    end = datetime.now()
    process = end - x
    #time.sleep(1)
    return [process,end]
def time_proces2(x):
    end = datetime.now()
    process = end - x
    #time.sleep(1)
    return process

In [105]:
url = "https://restcountries-v1.p.rapidapi.com/all"

headers = {
    'x-rapidapi-host': "restcountries-v1.p.rapidapi.com",
    'x-rapidapi-key': "df47b2f50bmshc8f27c8be508784p12d8f0jsnaf8187ef55ff"
    }

response = requests.request("GET", url, headers=headers)

regions = response.text
regions = json.loads(regions)
#regions = dict(regions)
df_regions = pd.DataFrame(regions)
df_unique_regions = df_regions['region'].unique()
df_unique_regions = [i for i in df_unique_regions if i != '']
#df2 = df1[df1["region"] != ""]
print(str(type(df_unique_regions)))
print(df_unique_regions)
time_unique_regions = time_proces(start)
time_unique_regions_now = time_unique_regions[1]
time_unique_regions_delta = time_unique_regions[0]

<class 'list'>
['Asia', 'Europe', 'Africa', 'Oceania', 'Americas', 'Polar']

In [134]:
url = "https://restcountries.eu/rest/v2/all"
response = requests.request("GET", url)
countries = response.text
countries = json.loads(countries)
df_countries = pd.DataFrame(countries)
df_countries_region = df_countries[df_countries.region.isin(df_unique_regions)].sample(frac=1).drop_duplicates(['region'], keep='first')
df_countries_region = df_countries_region[['name','region','languages']]
d_countries_region = dict(df_countries_region) 
d_countries_region = dict(d_countries_region['languages'])
print(str(d_countries_region) + " - "+str(type(d_countries_region)))
d_languages = [v[0]['iso639_1'] for k,v in d_countries_region.items()]
d_languages
df_countries_region['languages'] = d_languages
df_countries_region
time_countries_region = time_proces(time_unique_regions_now)
time_countries_region_now = time_countries_region[1]
time_countries_region_delta = time_countries_region[0]
#dict(list(df_countries_region['languages']))
#dict(list(df_countries_region['languages'])[0][0]) agg(pd.Series(list(df_countries_region['languages']))[0])

{7: [{'iso639_1': 'en', 'iso639_2': 'eng', 'name': 'English', 'nativeName': 'English'}], 122: [{'iso639_1': 'lo', 'iso639_2': 'lao', 'name': 'Lao', 'nativeName': 'ພາສາລາວ'}], 60: [{'iso639_1': 'el', 'iso639_2': 'ell', 'name': 'Greek (modern)', 'nativeName': 'ελληνικά'}, {'iso639_1': 'tr', 'iso639_2': 'tur', 'name': 'Turkish', 'nativeName': 'Türkçe'}, {'iso639_1': 'hy', 'iso639_2': 'hye', 'name': 'Armenian', 'nativeName': 'Հայերեն'}], 139: [{'iso639_1': 'en', 'iso639_2': 'eng', 'name': 'English', 'nativeName': 'English'}, {'iso639_1': 'mh', 'iso639_2': 'mah', 'name': 'Marshallese', 'nativeName': 'Kajin M̧ajeļ'}], 38: [{'iso639_1': 'fr', 'iso639_2': 'fra', 'name': 'French', 'nativeName': 'français'}, {'iso639_1': 'ff', 'iso639_2': 'ful', 'name': 'Fula', 'nativeName': 'Fulfulde'}], 8: [{'iso639_1': 'en', 'iso639_2': 'eng', 'name': 'English', 'nativeName': 'English'}, {'iso639_1': 'ru', 'iso639_2': 'rus', 'name': 'Russian', 'nativeName': 'Русский'}]} - <class 'dict'>

In [135]:
l_requests_languages = list(d_languages)
name_lang = []
for i in l_requests_languages:
    url = f'https://restcountries.eu/rest/v2/lang/{i}'
    response = requests.request("GET", url)
    name_languages = response.text
    name_languages = json.loads(name_languages)
    name_languages = dict(name_languages[0]['languages'][0])
    name_languages = name_languages['name']
    time_languages_name = time_proces(time_countries_region_now)
    time_languages_name_now = time_languages_name[1]
    time_languages_name_delta = time_languages_name[0]
    l_names_langs = []
    l_names_langs = [name_languages,i,time_languages_name_delta,time_languages_name_now]
    name_lang.append(l_names_langs)
    print(name_languages)
names = pd.DataFrame(name_lang,columns=['Language Name','languages','time_languages_name_delta','time_languages_name_now'])

names

English
Lao
Greek (modern)
English
Dutch
English

,Language Name,languages,time_languages_name_delta,time_languages_name_now
0,English,en,00:00:02.618393,2020-09-20 11:45:38.171722
1,Lao,lo,00:00:02.957948,2020-09-20 11:45:38.511277
2,Greek (modern),el,00:00:03.277258,2020-09-20 11:45:38.830587
3,English,en,00:00:03.655027,2020-09-20 11:45:39.208356
4,Dutch,fr,00:00:03.962157,2020-09-20 11:45:39.515486
5,English,en,00:00:04.283676,2020-09-20 11:45:39.837005

In [127]:
print(str(type(names))+" - "+str(type(df_countries_region)))
names

<class 'pandas.core.frame.DataFrame'> - <class 'pandas.core.frame.DataFrame'>

  Language Name languages time_languages_name
0       English        en     00:01:56.400139
1       Spanish        es     00:01:56.769265
2    Indonesian        id     00:01:57.093503
3       English        en     00:01:57.462937
4        Polish        pl     00:01:57.800682
5       English        en     00:01:58.173797

In [128]:
df_countries_region

            name    region languages
217    Swaziland    Africa        en
56    Costa Rica  Americas        es
105    Indonesia      Asia        id
159  New Zealand   Oceania        en
178       Poland    Europe        pl
8     Antarctica     Polar        en

In [173]:
pd_results = pd.merge(names,df_countries_region,on=['languages'])
pd_results = pd_results.drop_duplicates(['name'], keep='first')
pd_results['results time'] =pd_results['time_languages_name_now'].apply(time_proces2)
pd_results['time_unique_regions'] =time_unique_regions_delta
pd_results['time_countries_region'] =time_countries_region_delta
pd_results
pd_results_reorden = pd_results
pd_result_reorden = pd_results.reindex(columns=['Language Name','languages','name','region','time_unique_regions','time_countries_region','time_languages_name_delta','time_languages_name_now','results time'])
pd_result_reorden.drop(['time_languages_name_now'], axis = 'columns', inplace=True)
pd_result_reorden['time_languages_name'] = pd_result_reorden['time_languages_name_delta'] 
pd_result_reorden.drop(['time_languages_name_delta'], axis = 'columns', inplace=True)
pd_result_reorden = pd_result_reorden.reindex(columns=['Language Name','languages','name','region','time_unique_regions','time_countries_region','time_languages_name','results time'])
pd_result_reorden['total_time'] = pd_result_reorden[["time_unique_regions", "time_countries_region", "time_languages_name","results time"]].apply(lambda x: x.sum(),axis=1)
pd_result_reorden['mean_time'] = pd_result_reorden[["time_unique_regions", "time_countries_region", "time_languages_name","results time"]].apply(lambda x: x.mean(),axis=1)
pd_result_reorden['min_time'] = pd_result_reorden[["time_unique_regions", "time_countries_region", "time_languages_name","results time"]].apply(lambda x: x.min(),axis=1)
pd_result_reorden['max_time'] = pd_result_reorden[["time_unique_regions", "time_countries_region", "time_languages_name","results time"]].apply(lambda x: x.max(),axis=1)
pd_result_reorden

,Language Name,languages,name,region,time_unique_regions,time_countries_region,time_languages_name,results time,total_time,mean_time,min_time,max_time
0,English,en,Anguilla,Americas,00:07:46.156576,00:13:20.359222,00:00:02.618393,00:27:07.920787,00:48:17.054978,00:12:04.263744,00:00:02.618393,00:27:07.920787
1,English,en,Marshall Islands,Oceania,00:07:46.156576,00:13:20.359222,00:00:02.618393,00:27:07.920787,00:48:17.054978,00:12:04.263744,00:00:02.618393,00:27:07.920787
2,English,en,Antarctica,Polar,00:07:46.156576,00:13:20.359222,00:00:02.618393,00:27:07.920787,00:48:17.054978,00:12:04.263744,00:00:02.618393,00:27:07.920787
9,Lao,lo,Lao People's Democratic Republic,Asia,00:07:46.156576,00:13:20.359222,00:00:02.957948,00:27:07.581232,00:48:17.054978,00:12:04.263744,00:00:02.957948,00:27:07.581232
10,Greek (modern),el,Cyprus,Europe,00:07:46.156576,00:13:20.359222,00:00:03.277258,00:27:07.261922,00:48:17.054978,00:12:04.263744,00:00:03.277258,00:27:07.261922
11,Dutch,fr,Burkina Faso,Africa,00:07:46.156576,00:13:20.359222,00:00:03.962157,00:27:06.577023,00:48:17.054978,00:12:04.263744,00:00:03.962157,00:27:06.577023

In [ ]:
pd_result_reorden

C:\Users\eb\anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

proces_time   01:11:04.684196
mean_time     01:11:04.683864
dtype: timedelta64[ns]

In [182]:
con = sqlite3.connect("D:\\pruebazinobe\\db\\results.sqlite")

In [185]:
reiniciar_tabla = "delete from languages"
cursor = con.cursor()
cursor.execute(reiniciar_tabla)
sentencia = "INSERT INTO languages VALUES(\'{}\',\'{}\',\'{}\',\'{}\',\'{}\',\'{}\',\'{}\',\'{}\',\'{}\',\'{}\',\'{}\',\'{}\')"
for rows in pd_result_reorden.iterrows():
    row = dict(rows[1])
    print(str(row['name'])+" - "+str(type(row)))
    cursor = con.cursor()
    sentencia_sql = sentencia.format(str(row['Language Name']),str(row['languages']),
                                     str(str(row['name']).replace("'","")),
                                     str(row['region']),
                                     str(row['time_unique_regions']),str(row['time_countries_region']),str(row['time_languages_name']),
                                     str(row['results time']),str(row['total_time']),
                                     str(row['mean_time']),str(row['min_time']),str(row['max_time']))
    print(sentencia_sql)
    cursor.execute(sentencia_sql)
    con.commit()
    print("__________")

Anguilla - <class 'dict'>
INSERT INTO languages VALUES('English','en','Anguilla','Americas','0 days 00:07:46.156576','0 days 00:13:20.359222','0 days 00:00:02.618393','0 days 00:27:07.920787','0 days 00:48:17.054978','0 days 00:12:04.263744','0 days 00:00:02.618393','0 days 00:27:07.920787')
__________
Marshall Islands - <class 'dict'>
INSERT INTO languages VALUES('English','en','Marshall Islands','Oceania','0 days 00:07:46.156576','0 days 00:13:20.359222','0 days 00:00:02.618393','0 days 00:27:07.920787','0 days 00:48:17.054978','0 days 00:12:04.263744','0 days 00:00:02.618393','0 days 00:27:07.920787')
__________
Antarctica - <class 'dict'>
INSERT INTO languages VALUES('English','en','Antarctica','Polar','0 days 00:07:46.156576','0 days 00:13:20.359222','0 days 00:00:02.618393','0 days 00:27:07.920787','0 days 00:48:17.054978','0 days 00:12:04.263744','0 days 00:00:02.618393','0 days 00:27:07.920787')
__________
Lao People's Democratic Republic - <class 'dict'>
INSERT INTO languages VALUES('Lao','lo','Lao Peoples Democratic Republic','Asia','0 days 00:07:46.156576','0 days 00:13:20.359222','0 days 00:00:02.957948','0 days 00:27:07.581232','0 days 00:48:17.054978','0 days 00:12:04.263744','0 days 00:00:02.957948','0 days 00:27:07.581232')
__________
Cyprus - <class 'dict'>
INSERT INTO languages VALUES('Greek (modern)','el','Cyprus','Europe','0 days 00:07:46.156576','0 days 00:13:20.359222','0 days 00:00:03.277258','0 days 00:27:07.261922','0 days 00:48:17.054978','0 days 00:12:04.263744','0 days 00:00:03.277258','0 days 00:27:07.261922')
__________
Burkina Faso - <class 'dict'>
INSERT INTO languages VALUES('Dutch','fr','Burkina Faso','Africa','0 days 00:07:46.156576','0 days 00:13:20.359222','0 days 00:00:03.962157','0 days 00:27:06.577023','0 days 00:48:17.054978','0 days 00:12:04.263744','0 days 00:00:03.962157','0 days 00:27:06.577023')
__________